.message {
    border-radius: 10px;
    padding: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.message--success {
    border: solid 1px #0F5132;
    background-color: #D1E7DD;
    color: #0F5132;
}

.message--error {
    border: solid 1px #842029;
    background-color: #F8D7DA;
    color: #842029;
}