.attributes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.attributes-physical {
    border-right: 1px black solid;
    padding-right: 3em;
}

.attributes-social {
    padding: 0 3em;
}

.attributes-mental {
    border-left: 1px black solid;
    padding-left: 3em;
}

h3 {
    text-align: center;
    font-style: italic;
    font-weight: normal;
}