.login-form-container {
    border: solid 2px grey;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 2px grey;
    background-color: lightgrey;
    padding: 1.5em;
    width: 500px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -250px;
}