// Hide the checkmark
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px solid #000;
  margin-right: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-checkmark:hover {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-checkmark.checkmark--locked
{
  background-color: #000;
}

.checkmark--locked:hover {
  background-color: #000;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after,
.checkbox-checkmark:before
{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
div input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
div input:checked ~ .checkbox-checkmark.checkmark--light:after,
div input:checked ~ .checkbox-checkmark.checkmark--heavy:after {
  left: 2px;
  top: -4px;
  width: 5px;
  height: 20px;
  border: solid #000;
  border-width: 0 3px 0px 0;
  transform: rotate(45deg);
}

div input:checked ~ .checkbox-checkmark.checkmark--heavy:before{
  display: block;
  left: 5px;
  top: -4px;
  width: 5px;
  height: 20px;
  border: solid #000;
  border-width: 0 3px 0px 0;
  transform: rotate(135deg);
}