// Hide the checkmark
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 5px;
}

/* On mouse-over, add a grey background color */
.radio-checkmark:hover {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-checkmark.checkmark--checked {
  background-color: #000;
}

.checkmark--checked:hover {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
div input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
div .radiocheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}